<div class="container">
  <div class="row">
    <h3 class="text-center">{{search.message}}</h3>
  </div>
  <div class="row">

    <input ng-model="searchText" type="text" class="form-control" placeholder="Name" value="Search">
    
    <button ng-click="search.search()" type="button" class="btn btn-primary btn-lg btn-block">Search</button>
    
    
    <!-- EACH PODCAST WILL BE WRAPPED IN THIS LINK -->
    <!-- The Podcast Search Results -->
    <div>
      <a class="podcastSearchObj" ng-repeat="podcast in search.podcasts | filter:searchText" ui-sref="podcast({ podcastId: '{{podcast._id}}' })">
        <h3>{{podcast.name}}</h3>
        <p>{{podcast.length}}</p>
        <ul class="podcastTags">
          <li ng-repeat="tag in podcast.tags">{{tag}}</li>
        </ul>
      </a>
    </div>

    <!-- A Test for a basic podcast link -->
    <!--<a ui-sref="podcast({ podcastId: '57f1df3bedc3f1110068367d' })">TEST podcast</a>-->
    
    
  </div>
</div>